In [1]:
!pip install selenium

Collecting selenium
  Obtaining dependency information for selenium from https://files.pythonhosted.org/packages/f9/2f/9c6eef6487faca5006ae1ba43cf6ab627c7e3d2a7ec5a3b8728e2105472d/selenium-4.12.0-py3-none-any.whl.metadata
  Downloading selenium-4.12.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\p\anaconda3\lib\site-packages (from selenium) (1.26.16)
Collecting trio~=0.17 (from selenium)
  Obtaining dependency information for trio~=0.17 from https://files.pythonhosted.org/packages/a3/dd/b61fa61b186d3267ef3903048fbee29132963ae762fb70b08d4a3cd6f7aa/trio-0.22.2-py3-none-any.whl.metadata
  Downloading trio-0.22.2-py3-none-any.whl.metadata (4.7 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Obtaining dependency information for trio-websocket~=0.9 from https://files.pythonhosted.org/packages/f2/25/868488d8b05104e3d1bf162565bbadd5fe6d62bf903710e6402c3aaceb1e/trio_websocket-0.10.4-py3-none-any.whl.metadata
  Downloading trio_websocket-0.10.4-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\p\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting exceptiongroup (from trio-websocket~=0.9->selenium)
  Obtaining dependency information for exceptiongroup from https://files.pythonhosted.org/packages/ad/83/b71e58666f156a39fb29417e4c8ca4bc7400c0dd4ed9e8842ab54dc8c344/exceptiongroup-1.1.3-py3-none-any.whl.metadata
  Downloading exceptiongroup-1.1.3-py3-none-any.whl.metadata (6.1 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\p\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\p\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
     ---------------------------------------- 58.3/58.3 kB 3.2 MB/s eta 0:00:00
Downloading selenium-4.12.0-py3-none-any.whl (9.4 MB)
   ---------------------------------------- 0.0/9.4 MB ? eta -:--:--
   -- ------------------------------------- 0.6/9.4 MB 12.2 MB/s eta 0:00:01
   ---- ----------------------------------- 1.1/9.4 MB 12.2 MB/s eta 0:00:01
   ------- -------------------------------- 1.8/9.4 MB 12.6 MB/s eta 0:00:01
   ---------- ----------------------------- 2.3/9.4 MB 12.5 MB/s eta 0:00:01
   ------------ --------------------------- 2.9/9.4 MB 11.6 MB/s eta 0:00:01
   -------------- ------------------------- 3.5/9.4 MB 11.7 MB/s eta 0:00:01
   ----------------- ---------------------- 4.0/9.4 MB 12.2 MB/s eta 0:00:01
   ------------------- -------------------- 4.6/9.4 MB 11.8 MB/s eta 0:00:01
   --------------------- ------------------ 5.1/9.4 MB 11.7 MB/s eta 0:00:01
   ------------------------ --------------- 5.7/9.4 MB 11.7 MB/s eta 0:00:01
   -------------------------- ------------- 6.3/9.4 MB 11.8 MB/s eta 0:00:01
   ----------------------------- ---------- 6.9/9.4 MB 11.8 MB/s eta 0:00:01
   ------------------------------- -------- 7.4/9.4 MB 11.8 MB/s eta 0:00:01
   ---------------------------------- ----- 8.1/9.4 MB 12.0 MB/s eta 0:00:01
   ------------------------------------ --- 8.6/9.4 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  9.2/9.4 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  9.3/9.4 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 9.4/9.4 MB 11.1 MB/s eta 0:00:00
Downloading trio-0.22.2-py3-none-any.whl (400 kB)
   ---------------------------------------- 0.0/400.2 kB ? eta -:--:--
   ---------------------------------------- 400.2/400.2 kB 8.3 MB/s eta 0:00:00
Downloading trio_websocket-0.10.4-py3-none-any.whl (17 kB)
Downloading exceptiongroup-1.1.3-py3-none-any.whl (14 kB)
Installing collected packages: outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
Successfully installed exceptiongroup-1.1.3 h11-0.14.0 outcome-1.2.0 selenium-4.12.0 trio-0.22.2 trio-websocket-0.10.4 wsproto-1.2.0

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [1]:
pip install --upgrade selenium

Requirement already satisfied: selenium in c:\users\p\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\p\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\p\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\p\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\p\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\p\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\p\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\p\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\p\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\p\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\p\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [13]:
driver=webdriver.Chrome()

In [14]:
driver.get("https://www.shine.com/")

In [18]:
designation=driver.find_element(By.CLASS_NAME,"form-control ")
designation.send_keys("Data Analyst")

In [19]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Banglore')

In [20]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [21]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:
# Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [23]:
# Scraping Job location from the given page
location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location[0:10]:
    location=i.text
    job_location.append(location)

In [24]:
# Scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [25]:
# Scraping experience required from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [27]:
print(len(job_title),len(job_location),len(experience_required))

10 10 10

In [28]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'experience_required': experience_required})
df

                            job_title     job_location experience_required
0              Technical Data Analyst     Gurugram\n+9          4 to 9 Yrs
1     opening data analyst -Bangalore        Bangalore          2 to 5 Yrs
2                 Senior Data Analyst     Gurugram\n+8
3             Hiring For Data Analyst     Gurugram\n+8
4                        Data Analyst        Bangalore
5  Opportunity for data entry analyst  Mumbai City\n+9
6               Clinical Data Analyst  Mumbai City\n+4
7      Mobility Data Analyst - IN/MKR        Bangalore
8                 Senior Data Analyst        Bangalore
9                        Data Analyst       Congo\n+13

#### Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.shine.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"form-control ")
designation.send_keys("Data Scientist")

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Banglore')

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]

In [22]:
# Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[5]/div/div[1]/div[1]/div/div/div[1]/div[1]/div[1]/h2')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [10]:
# Scraping Job location from the given page
location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location[0:10]:
    location=i.text
    job_location.append(location)

In [11]:
# Scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [23]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [24]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name': company_name})
df

,job_title,job_location,company_name
0,Data Scientist - Bangalore,Bangalore,deuglo infosystem private limited
1,Data Scientist - Bangalore,Bangalore,deuglo infosystem private limited
2,Data Scientist - Bangalore,Bangalore,the fashion cosmo
3,Data Scientist - Bangalore,Bangalore,te connectivity india pvt ltd
4,Data Scientist - Bangalore,Bangalore,sap india pvt ltd
5,Data Scientist - Bangalore,Canada\n+17,kavya staffing solutions
6,Data Scientist - Bangalore,Bangalore,inmobi
7,Data Scientist - Bangalore,Mumbai City\n+6,quiscon biotech
8,Data Scientist - Bangalore,Bangalore,amazon
9,Data Scientist - Bangalore,Canada\n+17,kavya staffing solutions

#### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART.
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [16]:
driver=webdriver.Chrome()

In [17]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

#### Unfortunately the page you are looking for has been moved or deleted

#### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.motor1.com/")

In [4]:
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys("50 most expensive cars")

In [6]:
Enter=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
Enter.click()

In [7]:
Enter_Cars=driver.find_element(By.XPATH,"/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a")
Enter_Cars.click()

In [8]:
car_name=[]
price_dollar=[]

In [9]:
title_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in title_tags:
    title=i.text
    car_name.append(title)

In [10]:
value_tags=driver.find_elements(By.XPATH,'//strong["/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/p[4]"]')
for i in value_tags:
    price=i.text
    price_dollar.append(price)

In [11]:
print(len(car_name),len(price_dollar))

51 50

In [12]:
df=pd.DataFrame({'car_name':car_name,'price':price})
df

                              car_name                      price
0                  Aston Martin Valour  Price: $30 Million (est.)
1                         McLaren Elva  Price: $30 Million (est.)
2                          Czinger 21C  Price: $30 Million (est.)
3                        Ferrari Monza  Price: $30 Million (est.)
4                   Gordon Murray T.33  Price: $30 Million (est.)
5                    Koenigsegg Gemera  Price: $30 Million (est.)
6                          Zenvo TSR-S  Price: $30 Million (est.)
7                   Hennessey Venom F5  Price: $30 Million (est.)
8                      Bentley Bacalar  Price: $30 Million (est.)
9        Hispano Suiza Carmen Boulogne  Price: $30 Million (est.)
10              Bentley Mulliner Batur  Price: $30 Million (est.)
11                        Deus Vayanne  Price: $30 Million (est.)
12                         SSC Tuatara  Price: $30 Million (est.)
13                         Lotus Evija  Price: $30 Million (est.)
14                 Aston Martin Vulcan  Price: $30 Million (est.)
15                          Delage D12  Price: $30 Million (est.)
16                 Ferrari Daytona SP3  Price: $30 Million (est.)
17                   McLaren Speedtail  Price: $30 Million (est.)
18                        Rimac Nevera  Price: $30 Million (est.)
19                       Pagani Utopia  Price: $30 Million (est.)
20                Pininfarina Battista  Price: $30 Million (est.)
21                  Gordon Murray T.50  Price: $30 Million (est.)
22                Lamborghini Countach  Price: $30 Million (est.)
23            Mercedes-AMG Project One  Price: $30 Million (est.)
24                        Zenvo Aurora  Price: $30 Million (est.)
25                 Aston Martin Victor  Price: $30 Million (est.)
26         Hennessey Venom F5 Roadster  Price: $30 Million (est.)
27                    Koenigsegg Jesko  Price: $30 Million (est.)
28               Aston Martin Valkyrie  Price: $30 Million (est.)
29           W Motors Lykan Hypersport  Price: $30 Million (est.)
30                       McLaren Solus  Price: $30 Million (est.)
31                    Lamborghini Sian  Price: $30 Million (est.)
32                    Koenigsegg CC850  Price: $30 Million (est.)
33     Bugatti Chiron Super Sport 300+  Price: $30 Million (est.)
34                  Lamborghini Veneno  Price: $30 Million (est.)
35                      Bugatti Bolide  Price: $30 Million (est.)
36           Pininfarina B95 Speedster  Price: $30 Million (est.)
37                     Bugatti Mistral  Price: $30 Million (est.)
38                 Pagani Huayra Imola  Price: $30 Million (est.)
39                        Bugatti Divo  Price: $30 Million (est.)
40                 SP Automotive Chaos  Price: $30 Million (est.)
41                    Pagani Codalunga  Price: $30 Million (est.)
42                        777 Hypercar  Price: $30 Million (est.)
43            Mercedes-Maybach Exelero  Price: $30 Million (est.)
44                  Bugatti Centodieci  Price: $30 Million (est.)
45             Bugatti Chiron Profilée  Price: $30 Million (est.)
46                Rolls-Royce Sweptail  Price: $30 Million (est.)
47            Bugatti La Voiture Noire  Price: $30 Million (est.)
48              Rolls-Royce Boat Tail*  Price: $30 Million (est.)
49  Rolls-Royce La Rose Noire Droptail  Price: $30 Million (est.)
50    Most Expensive Cars In The World  Price: $30 Million (est.)

#### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.jagranjosh.com/")

In [5]:
Enter_GK=driver.find_element(By.XPATH,"/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a")
Enter_GK.click()

In [7]:
Enter_PM=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
Enter_PM.click()

In [8]:
PM_NAME=[]
Born_Dead=[]
Term_of_office=[]
Remarks=[]

In [26]:
Name = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in Name:
    PM=i.text
    PM_NAME.append(PM)

In [25]:
title_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in title_tags:
    title=i.text
    Born_Dead.append(title)

In [24]:
office=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]/p[1]')
for i in office:
    tenure=i.text
    Term_of_office.append(tenure)

In [22]:
tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[5]/p')
for i in tags:
    write=i.text
    Remarks.append(tenure)

In [27]:
print(len(PM_NAME),len(Born_Dead),len(Term_of_office),len(Remarks))

2 2 2 2

In [28]:
df=pd.DataFrame({'PM_NAME':PM_NAME,'Born_Dead':Born_Dead,'Term_of_office':Term_of_office,'Remarks':Remarks})
df

,PM_NAME,Born_Dead,Term_of_office,Remarks
0,Jawahar Lal Nehru,Jawahar Lal Nehru,15 August 1947 to 27 May 1964,15 August 1947 to 27 May 1964
1,Jawahar Lal Nehru,Jawahar Lal Nehru,15 August 1947 to 27 May 1964,15 August 1947 to 27 May 1964

#### NA

#### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [8]:
driver=webdriver.Chrome()

In [9]:
driver.get("https://www.azquotes.com/")

In [10]:
Enter_Top=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
Enter_Top.click()

####  500 - Internal server error $ click on TopQuotes page didn't open

#### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [26]:
driver=webdriver.Chrome()

In [27]:
driver.get("https://www.amazon.in/")

In [28]:
Search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
Search.send_keys('Laptop')

In [29]:
Enter=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
Enter.click()

In [30]:
click_i7=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[10]/li/span/a/span")
click_i7.click()

In [31]:
laptop_Title=[]
Rating=[]
Price=[]

In [32]:
Title_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in Title_tags[0:10]:
    laptop=i.text
    laptop_Title.append(laptop)

In [33]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-bold-weight-text"]')
for i in rating_tags[0:10]:
    rats=i.text
    Rating.append(rats)

In [34]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tags[0:10]:
    rupees=i.text
    Price.append(rupees)

In [35]:
print(len(laptop_Title),len(Rating),len(Price))

10 10 10

In [36]:
df=pd.DataFrame({'laptop_Title':laptop_Title,'Rating':Rating,'Price':Price})
df

                                        laptop_Title Rating    Price
0  Sponsored\nAcer Aspire Lite 11th Gen Intel Cor...    3.8  ₹31,990
1  Sponsored\nChuwi CoreBook X Laptop 14'', Intel...    3.9  ₹24,990
2  Acer Aspire Lite 11th Gen Intel Core i3 Premiu...    3.8  ₹31,990
3  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...    4.1  ₹40,927
4  HP Laptop 14s, 12th Gen Intel Core i3-1215U, 1...    4.0  ₹40,490
5  Dell 14 Laptop, Intel Core 11th Gen i3-1115G4/...    4.0  ₹36,490
6  Chuwi CoreBook X Laptop 14'', Intel Core i3-10...    3.9  ₹24,990
7  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...    4.0  ₹34,990
8  [SmartChoice] Lenovo IdeaPad 3 11th Gen Intel ...    4.1  ₹36,499
9  ASUS Vivobook 14, IntelCore i3-1215U 12th Gen,...    4.0  ₹40,990

#### Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.flipkart.com")

In [5]:
search=driver.find_element(By.CLASS_NAME,"Pke_EE")
search.send_keys('sneakers')

In [6]:
Enter=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button")
Enter.click()

In [7]:
Brand=[]
ProductDescription=[]
Price=[]

In [8]:
#Brand
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles[0:100]:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [9]:
len(Brand)

120

In [10]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in titles[0:100]:
        ProductDescription.append(i.text)
    for i in titles:
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [11]:
len(ProductDescription)

113

In [12]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in titles[0:100]:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [13]:
len(Price)

120

In [15]:
df=pd.DataFrame({'Brand':Brand,'Price':Price})
df

            Brand   Price
0           Krors    ₹549
1          MEGPAR    ₹384
2           asian    ₹822
3       Deals4you    ₹365
4            PUMA  ₹3,180
..            ...     ...
115         Sparx    ₹879
116        CAMPUS    ₹599
117          ATOM    ₹879
118  JACK & JONES    ₹763
119        CAMPUS  ₹1,899

[120 rows x 2 columns]

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1 Brand
2ProductDescription
3Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

In [18]:
driver=webdriver.Chrome()

In [19]:
driver.get("https://www.flipkart.com/")

In [20]:
search=driver.find_element(By.CLASS_NAME,"Pke_EE")
search.send_keys('sunglasses')

In [21]:
Enter=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button")
Enter.click()

In [22]:
Brand=[]
ProductDescription=[]
Price=[]

In [23]:
#Brand
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles[0:100]:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [24]:
len(Brand)

120

In [25]:
# ProductDescription
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in titles[0:100]:
        ProductDescription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [26]:
len(ProductDescription)

116

In [27]:
#Price
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in titles[0:100]:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [28]:
len(Price)

120

In [29]:
df=pd.DataFrame({'Brand':Brand,'Price':Price})
df

              Brand   Price
0          Fastrack    ₹499
1          Fastrack    ₹799
2          Fastrack    ₹549
3         Rich Club    ₹488
4    chawla fashion    ₹499
..              ...     ...
115           NuVew    ₹278
116       ROYAL SON    ₹664
117        Fastrack  ₹1,254
118          PIRASO    ₹357
119        Fastrack    ₹599

[120 rows x 2 columns]

#### Q3: In this question you have to scrape data using the filters available on the webpage
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.

In [25]:
driver=webdriver.Chrome()

In [27]:
driver.get("https://www.shine.com/")

In [29]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [30]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [32]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button")
location.click()

In [33]:
location_search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input")
location_search.send_keys('Delhi')

In [34]:
Tick_location=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]")
Tick_location.click()

In [35]:
Salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/ul/li[3]")
Salary.click()

In [36]:
Tick_salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
Tick_salary.click()

In [37]:
Show_result=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
Show_result.click()

In [38]:
job_title=[]
company_name=[]
experience_required=[]

In [39]:
# Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [40]:
# Scraping Company name from the given page
company_tags=driver.find_elements(By.CLASS_NAME,"jobCard_jobCard_cName__mYnow")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [54]:
# Scraping experience required from the given page
experience_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[1]/div[5]/div/div[1]/div[1]/div/div[1]/div[1]/div[1]/div[1]/div[3]/div[1]")
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [55]:
print(len(job_title),len(company_name),len(experience_required))

10 10 10

In [56]:
df=pd.DataFrame({'job_title':job_title,'company_name':company_name,'experience_required':experience_required})
df

,job_title,company_name,experience_required
0,Data Scientist,quiscon biotech,0 to 1 Yr
1,DATA SCIENTIST DELHI,skyleaf consultants,0 to 1 Yr
2,Clinical Data Management,techno endura,0 to 1 Yr
3,Data Scientist,quiscon biotech,0 to 1 Yr
4,DATA SCIENTIST DELHI,skyleaf consultants,0 to 1 Yr
5,DATA SCIENTIST DELHI,skyleaf consultants,0 to 1 Yr
6,Data Entry Operator,apex trading & softech solutions hi...,0 to 1 Yr
7,Technical Data Analyst,krishna consultancy.. hiring for co...,0 to 1 Yr
8,Senior Data Engineer,corporate steps..,0 to 1 Yr
9,Hiring For Data Analyst,harjai computers private limited,0 to 1 Yr